body {
  background-color: rgba(57, 39, 33, 0.904);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tracker {
  /* border: 1px solid white; */
  width: 500px;
  overflow: hidden;
}
.header {
  text-align: center;
}
.display {
  margin: 20px 0;
}
.head {
  color: rgba(50, 28, 28, 0.885);
}
.display h1 {
  color: rgba(255, 255, 255, 0.851);
  margin-top: -20px;
}
.main {
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  border: none;
  background-color: rgba(250, 235, 215, 0.959);
}

.income {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expense {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number1 {
  color: rgba(25, 170, 25, 0.873);
}
.number2 {
  color: rgba(248, 82, 82, 0.973);
}
.history {
  margin-bottom: 30px;
}
.history h2 {
  margin: 0;
  color: white;
}
ul {
  padding: 0;
  list-style: none;
  margin: 20px auto;
}
.else {
  color: white;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1.3rem;
}

.plus {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 20px;
  padding: 1px 10px;
  font-size: 1.3rem;
  border-right: 5px solid rgba(25, 170, 25, 0.873);
}
.minus {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 20px;
  padding: 1px 10px;
  font-size: 1.3rem;
  border-right: 5px solid rgba(248, 82, 82, 0.973);
}
.transaction {
  margin-bottom: 20px;
}
.transaction h2 {
  margin: 0;
  color: white;
}

.transaction p {
  color: white;
  font-size: 1rem;
  text-decoration: underline;
}
.transaction input {
  width: 100%;
  padding: 12px 10px;
  border: none;
  outline: none;
  color: rgba(25, 25, 25, 0.879);
  font-size: 16px;
}
.submit {
  width: 100%;
  padding: 12px 10px;
  font-size: 1.5rem;
  margin: 20px 0;
  cursor: pointer;
  background-color: #a35b5b;
  border: none;
}
::placeholder {
  color: #3f3f3f;
}
.delete {
  width: 20px;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left p {
  margin-left: 5px;
  flex: 1;
}
